target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/META-INF/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml

### VS Code ###
.vscode/

### Logs & Temp ###
*.log
